[2015-12-08 17:11] cblavier opened #2 "No path in links"
Hey,

My pagination menu is generated correctly, excepted there is no path in generated links : there is only the query string part (something like ```href="/?page=XXX"```). So the links consistently lead me to the root path.

I'm displaying a paginated list of POIs on a shop edit form ("/shop/:id/edit"). I understand that scrivener doesn't manage to guess the correct path.

[2015-12-08 18:36] mgwidmann commented on #2
Can you give me a code snippet?

[2015-12-09 20:39] mgwidmann commented on #2
Now that I remember correctly, the code always goes to the index route as you can see here:

https://github.com/mgwidmann/scrivener_html/blob/master/lib/scrivener/html.ex#L109

I think that needs to be an option so you can do something like this:

[code]

The code would then attempt to generate links to `shop_poi_path(@conn, :edit, @shop.id)`, but thats not what you want. Instead you'd like it to

[2015-12-10 08:42] cblavier commented on #2
I'm sorry, I don't feel confident enough yet at writing Elixir code to submit a PR.

Still, I have (maybe naive) questions :
- why isn't `pagination_links` simply using current path ?
- shouldn't you provide, as a fallback, the ability to give the path as a string (not as a function)

[2015-12-10 16:11] mgwidmann commented on #2
The problem you're experiencing is because its hard coded to use the `:index` route. Additionally, if you aren't using Phoenix it will not guess the route automatically (but I assume you are).

[2015-12-10 16:36] cblavier commented on #2
I confirm I'm using Phoenix.

I finally worked around the issue using a custom path function:
[code]
[code]

[2015-12-10 17:32] mgwidmann commented on #2
Ah good. I'll still try to get this fixed in master. Thanks for reporting it!

[2015-12-16 18:19] TakteS opened #3 "Add phoenix_html 2.3 support"
The upgrade to new phoenix (1.1) fails with error:

Looking up alternatives for conflicting requirements on phoenix_html
  Activated version: 2.3.0
  From mix.exs: ~> 2.3
  From scrivener_html v1.0.0: ~> 2.2.0

** (Mix) Hex dependency resolution failed, relax the version requirements or unlock dependencies

[2015-12-17 04:22] mgwidmann commented on #3
Ah great. Would you submit a PR?

[2015-12-17 14:47] #3 closed

[2015-12-30 02:33] mgwidmann commented on #2
@cblavier OK, I've pushed up a new version which should allow you to do the following:

[code]

Please try it out and let me know how things work out for you! Thanks for reporting this!

[2015-12-30 02:33] #2 closed

[2016-01-27 15:34] andrewcottage opened #7 "no function clause matching in Scrivener.HTML.pagination_links/2"
When trying to use the library I get

no function clause matching in Scrivener.HTML.pagination_links/2

my html looks like this
[code]
my controller looks like
[code]
Any ideas what is going on?

[2016-01-29 21:34] mgwidmann commented on #7
You need to pass in the result from `Repo.paginate`, seems you're passing in just the `entries` key...

[2016-02-17 18:24] abderrahmaneayad opened #10 "protocol Phoenix.Param not implemented for [locale: "en", page: 1]"
I changed the router to add the locale, and it looks like this:

    scope "/:locale", App do
        pipe_through [:browser, :browser_session]

        get "/page", PageController, :index

        resources "/products", ProductController
    end`

when I inject the "locale: :en" in the pagination_links:

    <%= pagination_links @conn, @page, distance: 5, next: ">>", previous: "<<", first: true,

[2016-02-18 18:35] mgwidmann commented on #10
Could you give a full stack trace?

I believe its making a call to `page_path(conn, :index, locale: "en", page: 1)` when in fact it needs to be calling instead `page_path(conn, :index, ["en"], page: 1)`.

[2016-02-18 18:36] mgwidmann commented on #7
Did this work for you?

[2016-02-19 04:24] mgwidmann commented on #10
Nope, nevermind. Your call to pagination links is wrong.

Just like the phoenix call:

`<%= page_path @conn, :index, ["en"] %>`

Your `:locale` parameter needs to be passed in to correctly generate the link. So you'll need to do the same when you call `pagination_links/3`.

`<%= pagination_links @conn, @page, ["en"] %>`

I'll try to update the README to reflect this and so its more clear. If this

[2016-02-19 04:24] #10 closed

[2016-02-19 04:25] mgwidmann commented on #7
Closing unless I hear back.

[2016-02-19 04:25] #7 closed

[2016-03-29 22:40] dkonovalchuk opened #14 "Wrong :path for nested resources"
Hi,

In my router.ex I have some nested resources, for example:
[code]

When I use pagination_links function like that `pagination_links @conn, @page`, I'm getting an error `undefined function MyApp.Router.Helpers.user_path/3`, because correct path should be `MyApp.Router.Helpers.nested_user_path/3`.
To make it work I have to use additional `:path` argument to `pagination_links` like that
`paginat

[2016-03-30 13:52] mgwidmann commented on #14
Can you show an example call to `pagination_links` in the way you are suggesting?

[2016-03-30 13:53] mgwidmann commented on #14
By the way, you should be able to just do `path: &nested_user_path/3` instead of what you showed above.

[2016-03-30 14:09] dkonovalchuk commented on #14
@mgwidmann I was expecting to include `:as` argument into the path by default. In my example call to `pagination_links @conn, @page` on nested user's index template page, I was expecting to use `nested_user_path` instead of  `user_path` on page links.
And thanks for the `path: &nested_user_path/3`.

[2016-03-30 14:21] mgwidmann commented on #14
Are you suggesting something like:

[code]

Which should prepend `nested_` to the route generated?

[2016-03-30 17:14] dkonovalchuk commented on #14
@mgwidmann please check the code from router.ex I provided:
[code]
`as: :nested` is already present in here, so I expect `<%= pagination_links @conn, @page %>` to generate pagination links with correct nested path without including additional `:as` argument in the function call.
If you check `inspect @conn.path_info` on that nested user's index page, it will be `["nested", "users"]`, not just `["u

[2016-03-30 21:17] mgwidmann commented on #14
Hmmm, thats the current path info. Thats not how its being done at the moment. I'd have to think how that would work for multiple pagination link calls on the same page.

[2016-04-15 13:30] mgwidmann commented on #14
Coming back to this, I'm not sure how to get the scope information without requiring the path parameter. Same as when you use `as: :something`, we will guess the wrong function name. If anyone has an idea on how to get that information, to read the router data at runtime, I'll happily accept a PR. Otherwise I plan to close this issue since its working as intended (thats the purpose of the `path` p

[2016-05-24 16:02] #14 closed

[2016-05-27 07:29] feixionglee opened #19 "page link always generated even through there are only one page"
page link always generated even through there are only one page

[2016-05-27 14:11] mgwidmann commented on #19
Could you please provide an example?

[2016-05-27 15:34] feixionglee commented on #19
defp deps do
      [
        ...
        {:scrivener_ecto, "1.0.0-dev", git: "https://github.com/drewolson/scrivener_ecto.git"},
        {:scrivener_html, "1.0.10", git: "https://github.com/mgwidmann/scrivener_html.git"}]
    end

My action:

    def index(conn, params, user) do
      query =  from(p in Post, preload: [:user, comments: [:user]])
      page = query
        |> Repo.paginate(params)

[2016-05-27 20:49] mgwidmann commented on #19
Well, its on page 1 is it not? Even if theres no data on the first page, thats what the pagination links should show. I don't think its good usability to hide the links do you?

[2016-05-27 20:49] mgwidmann commented on #19
Would you show me the HTML it generates, maybe I'm not following fully...

[2016-05-28 01:26] feixionglee commented on #19
`<nav><ul class="pagination"><li class="active"><a>1</a></li></ul></nav>`

The problem is the posts list is empty, so I think we should not generate any pagination links

[2016-05-30 03:33] guofei opened #20 "an exception was raised: (FunctionClauseError) no function clause matching in :lists.reverse/1"
Hi, I added {:scrivener_html, "~> 1.0"} to mix.exs and then run phoenix.server, it shows these errors:

[code]

diff:

[code]

[2016-05-31 13:53] mgwidmann commented on #20
Huh odd as 1.1 was just a version bump to support Phoenix 1.2

Can you post more of the stack trace?

[2016-05-31 13:56] mgwidmann commented on #19
The above html indicates you're on page one and there are no other pages. We can't hide the number 1 as we still want to indicate that to the user. If we hide the links they may not realize that there's no data.

Why would we hide the number 1? This is an intentional feature, not a bug.

[2016-05-31 14:15] feixionglee commented on #19
OK, understand it, thanks for your help.

[2016-05-31 14:17] feixionglee commented on #19
could we provide a option to let user to hide it conveniently?

[2016-05-31 14:26] guofei commented on #20
error message:

[code]

controller:

[code]

templete:

[code]

[2016-05-31 14:35] mgwidmann commented on #20
Which line is line 14 in the view?

I dont see any call to `pagination_links` so I'm not sure how this package could have affected your app.

[2016-05-31 14:40] mgwidmann commented on #19
[code]

[2016-05-31 14:41] #19 closed

[2016-05-31 14:42] guofei commented on #20
line 14 is
[code]

I just added  {:scrivener_html, "~> 1.0"} to mix.exs, then it crashed.

[2016-05-31 16:57] schwarz opened #21 "Use scrivener 1.2.x's implementation of Enumerable for Scrivener.Page"
In a recent version scrivener added their own implementation for Enumerable https://github.com/drewolson/scrivener/pull/33. This module duplication blocks releases with current versions of both libraries.

[2016-05-31 18:56] mgwidmann commented on #21
Oh nice! Great, glad they've added it!

So if I'm understanding right, I just need to remove my duplicate implementation? Do you know any way to conditionally implement it if it exists since I don't know what version of scrivener is being used...

[2016-06-01 01:59] guofei commented on #20
It fixed if I change scrivener_html/lib/scrivener/html.ex

from

[code]

to
[code]

[2016-06-01 14:38] guofei commented on #21
what about assert_impl!(protocol, base)?

[2016-06-01 21:00] mgwidmann commented on #21
Yes, but it raises an error... Hmm... I don't really like catching that at compile time...

[2016-06-01 21:01] mgwidmann commented on #20
oh huh, I guess this is related to #21

[2016-06-02 01:56] mgwidmann commented on #21
I've removed the protocol implementation and required scrivener `1.2` instead. This has been released as `1.1.1` for use with Phoenix `1.2-rc0` and `1.0.11` otherwise.

[2016-06-02 01:56] #21 closed

[2016-06-02 01:56] mgwidmann commented on #20
Would you try with either the recently released version `1.1.1` or `1.0.11`

[2016-06-02 02:17] guofei commented on #20
1.1.1 is ok.
Thank you very much!

[2016-06-02 02:23] guofei commented on #20
1.0.11 is also ok.

[2016-06-02 03:55] #20 closed

[2016-07-01 21:15] jerodsanto opened #27 "Support Scrivener 2?"
Howdy Matt,

Thanks for creating this, I've been using it with much success!

I'm curious what your thoughts are on supporting Scrivener 2. I'm upgrading my Phoenix app to all the latest and `scrivener_html`'s dependency on `scrivener ~> 1.2`, which depends on `ecto ~> 1.1` has become a show stopper for me.

Happy to help however I can!

[2016-07-05 14:42] mgwidmann commented on #27
Merged PR, closing this issue.

[2016-07-05 14:42] #27 closed

[2016-07-08 12:58] jaimeiniesta opened #30 "protocol Scrivener.Paginater not implemented for #Ecto.Query"
Hello, I had pagination working fine in my app using:

* phoenix 1.1.4
* phoenix_ecto 2.0
* scrivener_html 1.1
* scrivener 1.1.4

But now, after upgrading to:

* phoenix 1.2.0
* phoenix_ecto 3.0
* scrivener_html 1.3
* scrivener 2.0.0

It's failing with:

[code]

I've already cleaned up and reinstalled the deps, not sure what is failing here. This is the code in the controller:

[code]

Any idea?
T

[2016-07-08 14:13] mgwidmann commented on #30
This is failing in the controller when attempting to paginate. Perhaps you meant to submit this issue to scrivener?

[2016-07-08 14:40] jaimeiniesta commented on #30
Sure, I'll move this issue to scrivener. Thanks!

[2016-07-08 14:40] #30 closed

[2016-07-21 12:54] prashantham opened #31 "how to display query params in paginator links"
This <%= pagination_links @conn, @todos %> displays only the page parameter but other parameters are not listed

[2016-07-21 14:53] mgwidmann commented on #31
Theres an example of how to do this in the Readme: https://github.com/mgwidmann/scrivener_html#example-usage

[2016-07-21 14:53] #31 closed

[2016-07-22 05:05] prashantham commented on #31
params are not included even if i did <%= pagination_links @conn, @todos, [], path: &todo_path/3 %>

[2016-07-25 16:49] mgwidmann commented on #31
If you do `<%= pagination_links @conn, @todos, some_other_url_parameter: "foo" %>` you should see your links end with `?page=2&some_other_url_parameter=foo` as is shown in the example.

[I've added a test to check this.](https://github.com/mgwidmann/scrivener_html/blob/master/test/scrivener/html_test.exs#L215)

[2016-07-26 08:59] prashantham commented on #31
Is there a way to just pass in the query params?

[2016-07-26 14:46] mgwidmann commented on #31
Should be able to just put it at the end of the function call like any other.
[code]

[2016-08-12 03:38] steve0hh commented on #2
Don't know if this is a bug.

[code]

Doesn't work. Why not just provide an option which just appends the `?page=n` to the back of the url?

As @cblavier comment works fine:

[code]

As with most use cases, we'll be at that particular page while using the html helper, we just need the `?page=n` parameter to be appended. Hence no need for guessing of URL which equates to less issues on it. 😄

[2016-08-12 19:02] mgwidmann commented on #2
In your case it looks like `@question.answer` is a map that doesn't have they key `:answer`. You should also use the `&explore_question_path/4` if you're providing the path, since that function takes as the last parameter the query string arguments to be added to the end of the URL.

If you have an idea for how the API should work differently, please explain what you mean with some examples.

[2016-08-26 01:57] feixionglee opened #34 "Scrivener.Html is not available in production"
Hi, I get this error in my production machine, which deployed with edeliver.

I had to add :scrivener_html into my applications list in `mix.exs` to resolve it.
[code]
could we add some tips in README?

[2016-08-26 14:03] mgwidmann commented on #34
Thats true for any dependency really, since it I believe exrm will strip out any dependency not in the applications list. If you wouldn't mind could you submit a PR to update the README?

[2016-08-27 05:29] feixionglee commented on #34
ok, i am glad to do this

[2016-08-27 05:29] #34 closed

[2016-08-31 18:28] miskolc opened #36 "Generating links for non-REST paths"
It would be nice if you could include in the documentation an example for using `scrivener_html` when you don't do pagination on the `index` action of a controller.
I a route in my routes file like this
[code]

I wanted to use the pagination on the shops page but I had only the `page_path` helper that would generate links sending me to the `index` action instead of the `shops` actions

`<%=  pagin

[2016-08-31 19:39] mgwidmann commented on #36
I would be happy to accept a PR to add this to the README

[2016-09-03 13:08] yamzalal opened #37 "protocol Phoenix.Param not implemented for [page: 1]"
I have added the following in my template

`<%= pagination_links @conn, @posts, path: &profile_path/3, action: :videos %>`

My function in the controller looks like below

[code]

Routes for the videos is http://localhost:4000/profiles/1/videos/?page=1

[code]

I get this error:

`protocol Phoenix.Param not implemented for [page: 1]`

[2016-09-06 23:30] mgwidmann commented on #37
Hmm ok. I'm not sure what's different here. It will be at least a week before I can take a look. A PR would be welcome if you wanted to dig in yourself.

[2016-09-15 17:17] Blackrush opened #38 "Can't use html entities in :next and :previous texts"
Screenshot generated with this code :

[code]

![screenshot from 2016-09-15 19-15-15](https://cloud.githubusercontent.com/assets/1549486/18559711/d4131112-7b78-11e6-9716-f95c7dddf821.png)

Using `{:scrivener_html, "~> 1.3"}`

[2016-09-19 17:57] mgwidmann commented on #38
This is really a phoenix thing I believe... If you do `{:safe, "&leftarrow;"}` does it work? I can look into doing that automatically as well.

[2016-09-27 02:10] #38 closed

[2016-09-27 02:10] mgwidmann commented on #38
Let me know if that commit fixes your issue.

[2016-09-27 02:16] mgwidmann commented on #37
Can you try using `profile_path/4` please? I suspect you're just providing the wrong function, if this is the problem I'll put a note on the REAEME.

[2016-09-27 02:47] mgwidmann commented on #36
Let me know if theres anything confusing or you think still needs adding! Thanks!

[2016-09-27 02:47] #36 closed

[2016-11-01 02:31] mgwidmann commented on #37
Any update on if `profile_path/4` fixed your issue?

[2016-11-13 02:04] mgwidmann commented on #37
Closing this for now. Let me know if this is still an issue!

[2016-11-13 02:04] #37 closed

[2016-11-14 04:42] yamzalal commented on #37
sorry for the delay in my reply and thanks for your efforts. Not sure this is the right way, but this is how i have fixed the issue. Manually added paginations variables in the render function.

`render(conn, "videos.html", posts: posts, user: user, page_number: posts.page_number, total_pages: posts.total_pages, total_entries: posts.total_entries)`

Created a custom function

[code]

In template f

[2016-12-28 08:52] TakteS opened #43 "Foundation uses CSS for ellipsis"
Hello!

When I have a lot of pages (1k for example), pagination looks like this:
![2016-12-28 17-45-38](https://cloud.githubusercontent.com/assets/7054944/21517847/117846a6-cd2e-11e6-99aa-af57e23ab314.png)

Passes (i.e. `...`) displays 2 times. Are it bug or feature?

If it can help, I do:

[code]

[2016-12-28 14:38] mgwidmann commented on #43
Hmm, yeah it shouldn't appear twice... Can you write a failing test that would produce this issue? Is it only when there 1000+ pages?

[2016-12-28 14:52] TakteS commented on #43
I checked just now and I have twice even if I have only 20 pages:
![2016-12-28 23-46-53](https://cloud.githubusercontent.com/assets/7054944/21524235/5278103c-cd60-11e6-9c4a-0f143d7ec899.png)

Here's versions of libraries I use:
[code]

[2016-12-28 15:23] TakteS commented on #43
Also I found that even if I do:

[code]

then trouble keeps, but without `:view_style` option I have no twice:

[code]

Btw, I work with foundation 6, are you support this?

[2016-12-28 16:06] mgwidmann commented on #43
Looks like it is a foundation problem. That makes this easier to find, thanks! I'll look into it in a little bit.

[2016-12-28 16:46] TakteS commented on #43
@mgwidmann AFAIK it is because `ellipsis` class have `::after`option which automatically display `...` on page. So I just added option `ellipsis: ""` and it works fine

[2016-12-28 17:16] TakteS opened #44 "Add links to first/last pages"
Hello. I think it would great if we had links to last and first pages, like this:
![2016-12-29 02-05-12](https://cloud.githubusercontent.com/assets/7054944/21526958/a80af0f6-cd73-11e6-9c79-8696b9f9a61a.png)

By default it may be disabled, and can be enabled, for example with option like: `recent_pages: true`.

Also, I think about ability to configure links styles by options:
[code]

and the same f

[2016-12-28 18:12] mgwidmann commented on #44
I'm not sure I understand. We do support first and last pages which is tested here:
https://github.com/mgwidmann/scrivener_html/blob/master/test/scrivener/html_test.exs#L84-L114

You can also supply your own by saying `first: "<", last: ">`

Are you suggesting including recently visited pages in the list?

[2016-12-28 18:15] mgwidmann commented on #44
Correction... We do hardcode first to be `1` here:
https://github.com/mgwidmann/scrivener_html/blob/master/lib/scrivener/html.ex#L321

So then all we'd need to do is do like I suggested and allow `first: "<", last: ">"`... Shouldn't be too hard to support that.

[2016-12-29 04:33] TakteS commented on #43
Yes, I think so

[2016-12-29 04:48] TakteS commented on #44
No, I'm not about recently visited pages :) I'm not saw `first: true` and `last: true` in readme, sorry.

And what about ability to configure CSS styles for each type of elements? Like:

[code]
and so on.

Or maybe it can be configured in `config.exs`:

[code]

[2016-12-29 14:31] mgwidmann commented on #44
Well if I change it to allow a non-boolean like I proposed you'd be able to do something like `first: render_first(), last: render_last()` as long as those functions return either a string or an IO list it should work just fine. As for being able to change the classes of the `li` surrounding the first and last... What exactly is the use case for that?

[2017-01-10 21:58] coreyk opened #46 "Override total_entries and total_pages"
I have a use case where i need to pass the total entries and total pages from a more complex query.

How can I override total_entries and total_pages from Scrivener.Ecto?
This doesn't work (from the Scrivener.Ecto README):

[code]

[2017-01-10 22:11] coreyk commented on #46
I guess if you do this it works:

[code]

[2017-01-11 17:22] mgwidmann commented on #46
Yes you could do that. However, I suppose this is more for the Scrivener project to tackle than here.
I'd just update the values rather than creating a new page...

[code]

But first, think about the fact that you're doing this before you do it. If the `paginate` function isnt giving you the data you want in those fields, ask yourself if maybe you're doing something wrong. I'd bet that @drewolson

[2017-01-11 21:17] coreyk commented on #46
Using the map update syntax like you're suggesting doesn't work, I had tried that initially.

The reason for this is to get around the limitation of Scrivener.Ecto when not selecting * and needing an accurate result count.

My queries are more complex than usual, with 6 joins, a where and a select on 10 columns across 7 tables. The count distinct can't be on *.

[2017-01-18 20:34] mgwidmann commented on #46
either way, I'm not sure how this project should change to help you. You can already override the total_pages and total_entries like I showed, and then the helper function this project exposes will work just the same...

[2017-01-18 20:36] drewolson commented on #46
@coreyk the newest release of `scrivener_ecto` uses `subquery` to produce accurate counts. Please take a look. This issue is unrelated to this project.

[2017-01-18 20:37] #46 closed

[2017-01-25 03:47] nlap opened #50 "Elixir 1.4"
Looks like Keyword.merge raises in Elixir 1.4 if both args aren't keyword lists: https://github.com/elixir-lang/elixir/issues/5395

`params_with_page = Keyword.merge(url_params, [{page_param, page_number}])` breaks in html.ex with `expected a keyword list as the second argument, got: [{"p", 1}]`

[2017-01-25 16:03] mgwidmann commented on #50
Oh yeah 😞

I would love a PR if you have the time 😄

[2017-01-25 20:13] nlap commented on #50
For sure, I'll take a look!

Seems strange, I mean `[{page_param, page_number}]` is technically a keyword list right? Maybe the problem is on Elixir's side.

[2017-01-25 20:47] mgwidmann commented on #50
Nope its not. I think its referred to as a "property" list by erlang developers. Its only because the "key" is a binary instead of an atom... But I dont think making it into an atom is the solution, it may be best to just convert it to a map in the beginning and then always use that.

[2017-01-25 20:50] nlap commented on #50
Ah, good to know. I'll see what I can do, but yeah, changing to Map is probably the cleanest.

[2017-02-01 06:09] nlap commented on #50
FYI, I don't think I'll be able to find time to work on a PR for this 😞

[2017-02-21 23:18] dipth opened #51 "User can set page querystring higher than total pages"
Resulting in the helper rendering as many page links as the page number.
For instance, here I tried entering the page number `100` even though there is only 11 pages in total:

![screen shot 2017-02-22 at 00 16 39](https://cloud.githubusercontent.com/assets/171490/23189648/37d04ab0-f894-11e6-8ec7-2eb3bb6401f2.png)

At first sight this might just seem like a minor inconvenience for the user, but yo

[2017-02-24 03:09] mgwidmann commented on #51
Hmm ok, I'll have to add a test to check for this then

[2017-02-25 03:35] mgwidmann commented on #51
Theres a PR opened to fix this issue now, thanks for reporting!

[2017-03-04 01:38] #51 closed

[2017-03-04 02:09] mgwidmann commented on #51
Released in `v.1.6.0`, thanks!

[2017-03-10 11:50] xnouvilas opened #54 "Foundation view style don't produce appropriate markup"
When we use :foundation view style option, current page has a link tag instead of span tag.

[2017-03-12 12:12] JustMikey opened #56 "Adding "rels" for SEO"
I wonder if it makes sense to add `rel="next"` and `rel="prev"` for better SEO?

[2017-03-20 19:25] mgwidmann commented on #56
Yeah sure, I'd be willing to accept a PR if you have the time...

[2017-03-20 19:27] mgwidmann commented on #54
What is wrong with this test: https://github.com/mgwidmann/scrivener_html/blob/master/test/scrivener/html_test.exs#L314

Can you be more specific?

[2017-04-10 16:12] #50 closed

[2017-04-10 18:48] andrewbredow opened #58 "Phoenix 1.3 support"
Hello! Is anyone working on updating this to work with Phoenix 1.3? I'm willing to get started on it, but don't want to step on any toes. Thanks!

[2017-04-11 01:34] mgwidmann commented on #58
I'm unaware of any issues with phoenix 1.3, so I'd be willing to accept any PR to make it compatible (even if its just relaxing the deps)!

[2017-04-14 01:40] mgwidmann commented on #56
So I've got a PR opened at #59 if you wouldn't mind taking a look and telling me if you think it'll suit your use case enough.

[2017-04-14 01:40] #58 closed

[2017-04-15 00:17] #44 closed

[2017-04-15 00:18] #56 closed

[2017-04-15 00:23] mgwidmann commented on #54
Closing because of inactivity. Please let me know if this is still an issue.

[2017-04-15 00:23] #54 closed

[2017-04-15 00:27] mgwidmann commented on #43
Need to fix this before the next release goes out. I'm going to try to get a PR opened tonight.

[2017-04-15 03:37] mgwidmann commented on #43
Fixed in `v1.7.0`, please let me know if theres any issues. Thanks!

[2017-04-15 03:37] #43 closed

[2017-05-17 19:25] maierru opened #62 "disable link for current page"
Is there any way to disable link 'a href' for current page?

[2017-05-24 14:08] mgwidmann commented on #62
Sorry I missed this. What view implementation are you using and can you provide an example of the HTML you want vs what is actually produced? It should automatically not create a link for the current page, so I'm a bit confused as to what you mean.

[2017-05-27 15:44] lee-dohm opened #63 "Compilation error in v1.7"
Getting this error when building with v1.7:

[code]

It looks like the `using` introduced in #59 is referring to `Scrivener.SEO` but the module is actually named [`Scrivener.HTML.SEO`](https://github.com/mgwidmann/scrivener_html/blob/master/lib/scrivener/html/seo.ex#L1)?

[2017-05-30 14:20] ArturT opened #65 "Option to disable pagination when results are on single page"
Would be nice to have an option to don't show the pagination when there is only 1 page with results.

Example how it could work:

[code]

and it would render nothing.

[2017-06-02 17:45] mgwidmann commented on #65
Could you not do that with `if @page.total_pages == 1`?

[2017-06-02 17:52] #63 closed

[2017-06-02 17:53] mgwidmann commented on #63
`v1.7.1` released on hex, thanks for the issue!

[2017-06-02 17:58] ArturT commented on #65
I could use `if` but then I will have to add it everywhere where I use pagination.

It would be nice to configure it once like:

[code]

But if it doesn't make sense then we can close this issue.

[2017-06-03 03:00] lee-dohm commented on #63
Thank you for the great utility! :bow:

[2017-06-08 18:36] mgwidmann commented on #65
I think in your case you should make a pagination partial and put your logic there. That is not a feature this project needs.

[2017-06-08 18:36] #65 closed

[2017-06-13 22:51] niccolox opened #66 "Scrivener HTML for Bootstrap style grids or with rows (or flexbox) and cards?"
hi

apologies if I am looking/asking in the wrong place

can I use Scrivener.HTML for create rows with cards for Bootstrap style responsive grids?

i.e. Flexbox or Grids ?

am hacking through a solution but I would of thought this is a common scenario

[2017-06-14 01:06] niccolox commented on #66
used card columns and will try scrivener.html next

<h2>Grid Posts</h2>

[code]

[2017-06-29 14:42] mgwidmann commented on #66
So bootstrap and bootstrap v4 are both view styles supported by Scrivener.HTML. You can see what they produce here:
https://github.com/mgwidmann/scrivener_html/blob/master/lib/scrivener/html.ex#L143
https://github.com/mgwidmann/scrivener_html/blob/master/lib/scrivener/html.ex#L154

If you don't like those or wish to do something custom, you can implement your own helper method which calls `Scriven

[2017-07-31 17:47] dsandstrom commented on #62
Disable the hover state of the active link.  Example for the `semantic` view style:
[code]

[2017-08-01 17:20] dsandstrom opened #67 "Add helper to display item count information"
Similar to what will_paginate has:
![00000370](https://user-images.githubusercontent.com/1400414/28837711-a52a7cca-76a2-11e7-832e-991045d3d341.png)

I always found this type of information handy and have included it in my Rails projects.  I didn't see this option available for this plugin (sorry, not sure if that is the right term) and added a simple version of the functionality myself.

Would you

[2017-08-09 01:59] mgwidmann commented on #67
You provide the `%Scrivener.Page{}` which has that information easily accessible so I'm not following whats to be gained by offering a helper to do that? Additionally, the copy would need to be swappable and I wouldn't want to introduce a gettext dependency. What would your helper do exactly?

[2017-08-09 02:03] mgwidmann commented on #62
I believe I'm finally following what this means. Heres a test which shows we do put an `href` on the `active` anchor tag:
https://github.com/mgwidmann/scrivener_html/blob/de926e2cbd5cb77b60067590f62e53fce100d674/test/scrivener/html_test.exs#L266

[2017-08-09 17:54] dsandstrom commented on #67
The bottom part, "Displaying x 1-20, of 59 in total"

It provides `page_number`, `page_size`, `total_entries`, `total_pages`, right?  Does it provide the indexes of the entries on the current page?

Here is the code if it's helpful for anyone else.  I'm new to elixir so I'm probably doing something fundamentally wrong and I need to cover some edge cases:
[code]

Use like so:
[code]

[2017-08-11 13:39] mgwidmann commented on #67
I think this should be a helper in your application since that text you have in there will need to be configurable and internationalized w/ gettext. If you really feel it something others could use, feel free to create your own package on hex.

[2017-08-11 13:39] #67 closed

[2017-09-01 01:21] #66 closed

[2017-09-01 01:41] mgwidmann commented on #62
Master is updated with this commit https://github.com/mgwidmann/scrivener_html/commit/278e6a975a13a2828809698b54432b2bac055e7f
Could you take a look and let me know if it suits your needs?

[2018-01-29 13:25] ulutomaz opened #68 "bootstrap 4 support?"
Hi,

any plans for Bootstrap 4 support. Design for pagination links is broken.

Best,
Tomaz

[2018-01-30 22:08] mgwidmann commented on #68
Bootstrap 4 is supported in the README https://github.com/mgwidmann/scrivener_html#view-styles

If theres something broken, I'd appreciate a PR fixing the changes!

[2018-02-17 04:33] jwipeout commented on #68
I also tried the pagnation and it is missing some classes that are being used. I will try to create a pr.

[code]

[2018-02-27 11:21] Sgoettschkes opened #69 "SEO header links not taking non-existing pages into account"
Thanks for the library and the whole scrivener libraries!

I have an issue with the header links generated by scrivener_html. If I am reading the code correctly there is currently no checking if the next/prev page does indeed exist?

In my opinion, checking if the next/prev pages exist (by looking the the `total_pages` in relation to the `page_number`) and skipping prev/next should do the trick.

[2018-04-20 20:53] mgwidmann commented on #69
Sorry I missed this. If you'd like to submit a PR, I'd be willing to merge and release it if is a bug like you describe. Thanks for reporting!

[2018-04-20 20:56] #68 closed

[2018-05-11 16:10] hoangvn2404 opened #70 "issue with paginate url params"
<img width="841" alt="pagination issue" src="https://user-images.githubusercontent.com/24265592/39934230-6316a3de-556f-11e8-9749-32c24e76e64a.png">

I run into issue that by default the generated pagination do not included any params I used on the search, so basically click on next link will return wrong results.
I know that we have options to pass additional params into the pagination_links but t

[2018-05-27 12:38] moroz opened #71 "Customization of wrapper classes"
Hi there,
First of all thank you for your work, I will use this library in my next pet project.
However, I noticed that there is no easy way to change wrapper classes for pagination_links. For example, the templates for Bulma CSS are centered "by default", which means the classes are hard-coded in private functions. I ended up rewriting the functions like this:
[code]
Do you think it would be poss

[2018-06-08 07:25] Sgoettschkes opened #72 "Link to first page without page paramter"
For SEO purposes, it would be good to link to the first page without the page parameter. I don't see any way to do this right now. Would this be something which could be integrated as a default/only option or via some kind of flag.

If not I feel like I need to fork it and change it in the fork or would there be some way to let scrivener calculate the pagination data, change it and pass it back to

[2018-07-26 00:50] msmontader commented on #70
Having the exact same issue. Looking at the docs, it looks like the only way to pass params to `pagination_links` has to be done manually. If there is a better way of doing this that would be great.

[2018-07-26 01:52] goravbhootra commented on #70
@msmontader I solved it by putting all the filters in an hash "filters" from html and then:

in candidate_controller.ex:
[code]

and then in index.html.eex:
[code]

this retains the filters in the pagination links. Hope it helps.

[2018-08-24 21:43] nicolasblanco opened #75 "Option to not display anything if there is only 1 page of elements?"
Do you think it could be useful to add an option to not display any links if there is only 1 page in the elements?

[2018-11-08 06:12] hlongvu opened #77 "Update for phoenix 1.4.0"
Phoenix 1.4.0 has now released: https://phoenixframework.org/blog/phoenix-1-4-0-released
Hope you update this repo soon :)

[2018-11-18 06:58] hlongvu commented on #77
If anyone wants a quick fix before the update arrives, you can use this:

[code]

I just bump the version of phoenix to < 1.5.0 as pull request above.

[2019-01-22 20:59] tielur commented on #77
@mgwidmann any chance this can be merged and hex.pm updated soon?

[2019-01-24 13:42] mgwidmann commented on #77
My apologies, I'll address this tonight.

[2019-01-24 13:43] mgwidmann commented on #75
So no output at all instead of the current page?

[2019-01-26 04:40] #77 closed

[2019-01-26 04:43] #72 closed

[2019-01-26 05:03] mgwidmann commented on #70
Sorry I missed this for such a long time. Did you try passing in the `@conn` as the first parameter? It has the query parameters inside it that you're looking for and we pass this directly onto phoenix so it would do whatever phoenix would do with it.

I'm not sure if we would want to take the query params from the `@conn` and always merge them with yours since we'd have to verify its the same pag

[2019-01-26 05:10] mgwidmann commented on #69
Should we close this or do you still think this is a valuable addition?

[2019-01-26 05:13] mgwidmann commented on #71
I was unaware that it automatically made the links centered. The best workaround for now seems it would be to override it with CSS, however thats not ideal.

Would allowing an override to classes work? I don't think I have time for something like that, but I'd be willing to accept a PR if you did.

[2019-01-26 05:13] #62 closed

[2019-02-04 20:22] JohnKacz opened #83 "Altering the order of first/previous and last/next"
If I wanted to do something like this
[code]
it would generate

| < | << | 5 | 6 | 7 | 8 | 9 | >> | > |
|---|---|---|---|---|---|---|---|---|

but I would want to generate

| << | < | 5 | 6 | 7 | 8 | 9 | > | >> |
|---|---|---|---|---|---|---|---|---|

Another enhancement that I don't think is currently possible is always showing the previous/next buttons but mark them as disabled if on the first/l

[2019-02-08 17:28] JohnKacz commented on #70
@mgwidmann I'm passing `@conn` but that doesn't give the desired results.

As an alternative to @hoangvn2404's workaround here is mine:

[code]
Then in `my_app_web/templates/foo/index.html.eex`
[code]

This also felt like a cleaner way to pass my default options (e.g., `distance`) until #74 is resolved.

[2019-02-12 03:05] mgwidmann commented on #70
I think we should ideally replicate the query params in the links when we generate the link. We execute the path function in these areas:

https://github.com/mgwidmann/scrivener_html/blob/master/lib/scrivener/html.ex#L326
https://github.com/mgwidmann/scrivener_html/blob/master/lib/scrivener/html.ex#L356

But the `url_params` in that context does not contain the parameters from the `conn` object. T

[2019-02-12 03:09] mgwidmann commented on #83
Ah hmmm yeah, thats not configurable. How would you suggest making that configurable? I'm not sure if we should introduce an order tuple or not, something like `{:previous, :first, :pages, :last, :next}`?

[2019-02-12 13:53] l-vincent-l opened #84 "Bug in find_path_fn"
I'm trying to understand this line :

https://github.com/mgwidmann/scrivener_html/blob/master/lib/scrivener/html.ex#L152
 ```path = path_args |> Enum.reduce(name_for(List.first(entries), ""), &name_for/2)```
It calls name_for which is a one liner:
 ```"#{acc}#{if(acc != "", do: "_")}#{Phoenix.Naming.resource_name(model.__struct__)}"```
and I don't understand why `path_args` has to be a model.

Am

[2019-02-22 21:20] popo63301 opened #85 "Style not applied"
Hi people !

I'm using version "1.8" of the library and after following the installation process, I got the "pagination_links" without being styled like below:

![screenshot 2019-02-22 at 21 57 00](https://user-images.githubusercontent.com/29427340/53271870-fd85d180-36ef-11e9-83b8-8ce756403d21.png)

Any idea how to solve this issue?

[2019-04-20 02:49] mgwidmann commented on #84
Hmm, not sure I remember to be honest. What is it you're having an issue with? Is there an exception you're receiving?

[2019-05-01 01:36] mgwidmann commented on #85
The default is to use bootstrap. If you are not using the bootstrap library, then it will look like a list (since bootstrap uses `<li>` elements for each page). The list of all css libraries supported are here: https://github.com/mgwidmann/scrivener_html#view-styles

If yours is not in the list, feel free to submit a PR to add it, but each CSS library tends to have its own customized way of displa

[2019-05-01 01:36] #85 closed

[2019-05-02 21:24] spapas opened #88 "Milligram view styles?"
It seems that phoenix now uses milligram for creating its html views. I guess that a milligram view style would  be an excellent addition to this project.

[2019-05-15 15:58] nicolasblanco commented on #75
@mgwidmann : what's the meaning of having a number or output if there's no additional page? In many cases I don't want output if there's just a single page. 👍

[2019-05-29 02:37] mgwidmann commented on #88
I'd be willing to accept a PR for this if you'd like.

[2019-05-29 09:54] spapas commented on #88
Hello @mgwidmann unfortunately it seems that milligram doesn't have any pagination components so this can't be implemented until they provide such functionality.

However, for users having this problem I have written a couple of css styles that should output properly styled pagination links when you use the `bootstrap_v4` view style in your config:

[code]

[2019-06-12 02:22] mgwidmann commented on #88
Ok, should we close this then?

[2019-06-12 02:30] mgwidmann commented on #75
@nicolasblanco Most designs want to signify to the user where the pagination links would be if any pages were available. Putting the number indicates this and informs the user that there are no pages to look through rather than having the user hunt around the site looking for something that doesn't exist.

I'm closing this issue as there doesn't seem to be a need for this feature.

[2019-06-12 02:30] #75 closed

[2019-06-12 06:19] spapas commented on #88
@mgwidmann yes probably, i'm not really sure if the milligram css framework will ever add pagination components :|

[2019-06-12 16:25] #88 closed

[2019-06-24 17:20] Aethelflaed opened #89 "Query string parameters name clashes"
Hi!
It's currently not possible to have a query string parameter like `distance`, as it would most probably cause scrivener_html to raise `ArithmeticError` or at least have some undesired side-effect.

This is due to the fact that there is no distinction between `pagination_links`'s own keywords and the possible query string parameter we can provide.

The workaround I found was to have a separate

[2019-06-28 05:36] mendomedia commented on #83
What about a param something like <%= pagination_links  @page, distance: 1,  edge: "outside"  %> meaning that the "edge" page elements (first and last) would be forced to the outside positions as requested above. Default would be edge: "inside".

[2019-07-19 03:51] mgwidmann commented on #83
I'm not sure that `edge` is quite clear enough. I'd like something more descriptive but theres nothing that immediately jumps to my mind...

[2019-07-19 03:54] mgwidmann commented on #89
In order to preserve the current API, we could instead just accept a `query` option and everything in there would get merged as query string parameters in addition to the existing implementation for backwards compatibility. What do you think about that instead?

[2019-07-19 18:50] JohnKacz commented on #83
`boundary` or `border`?

[2019-07-22 04:49] mgwidmann commented on #83
I think something like `first_last_links: :outside` or `first_last_links: :inside` would be ok. Thats clear and self-explanatory.

[2019-10-14 18:11] StarWar opened #92 "all links in pagination marked as canonical except for next, prev"
The library marks all page links except for next & prev as canonical. Which I think is wrong? It should only set the current page as canonical and make it a disabled link. However, this lib makes the current link a simple li element but tags all other links as canonical.

Currently, it outputs the following links:-
[code]
The library should also provide a method so that we can add next, prev and c

[2019-12-17 03:45] mgwidmann commented on #92
If this is a bug as you describe, it should be reproducible in a unit test. As such, if you can open a PR I would be willing to accept it if it proved the existence of said bug.

[2019-12-17 03:48] mgwidmann commented on #84
Closing as this hasn't seen any traction in a long time.

[2019-12-17 03:48] #84 closed

[2020-07-09 14:15] blaza1 opened #99 "Phoenix 1.5.0 Compatibility"
Phoenix 1.5.0 has been released in April. Would it be possible to update scrivener to provide compatibility with the new version ?

[2020-08-04 23:36] mazz opened #100 "Scrivener HTML 1.8 Displaying as Unordered List"
Using Scriviener HTML with Phoenix 1.5.3 and the pagination component is appearing as an unordered list. Not sure why.

my code:

config.exs:

config :scrivener_html,
  routes_helper: Elijah.Routers.Helpers

view:

defmodule ElijahWeb.UserView do
  use ElijahWeb, :view
  import Scrivener.HTML
end

controller:

  def index(conn, params) do
    page =
      users()
      |> Repo.paginate(params)

[2020-08-24 19:46] romaintb commented on #100
did you try to configure a `view_style` ?
For example :
[code]

[2020-09-05 17:09] mazz commented on #100
@romaintb that didn't seem to help.

[2020-12-04 11:26] augnustin commented on #99
Yes! Is this hard work, or simply dependencies upgrade?

[2020-12-12 11:40] tomciopp opened #103 "Maintenance Help"
Do you need help maintaining this project?

[2020-12-18 15:44] Mehonoshin commented on #103
@mgwidmann we can also help

[2021-04-17 20:49] JohnKacz commented on #103
@mgwidmann, just seeing if you have any plans to add some other contributors to maintain the project?

[2021-09-21 17:49] kenny-evitt commented on #99
Relevant pull requests:

- * [Phoenix 1.5 by geofflane · Pull Request #98 · mgwidmann/scrivener_html](https://github.com/mgwidmann/scrivener_html/pull/98)
* [relax deps to allow phoenix 1.5 by jaimeiniesta · Pull Request #97 · mgwidmann/scrivener_html](https://github.com/mgwidmann/scrivener_html/pull/97)

[2021-09-21 17:53] kenny-evitt commented on #99
We might need to organize a fork of this project; see:

- [Maintenance Help · Issue #103 · mgwidmann/scrivener_html](https://github.com/mgwidmann/scrivener_html/issues/103)

[2021-09-21 17:57] kenny-evitt commented on #103
Anyone want to volunteer to organize a fork?

I didn't see any forks for any of you, the previous commenters, in the network graph for this project:

- [Network Graph · mgwidmann/scrivener_html](https://github.com/mgwidmann/scrivener_html/network)

Should I reach out to one of those projects about committing to maintaining a fork?

[2021-09-21 18:00] kenny-evitt commented on #103
If @mgwidmann doesn't transfer ownership of the package on Hex, we'd have to pick a new package name too:

- [FAQ | Hex](https://hex.pm/docs/faq)

[2021-09-21 18:42] thbar commented on #103
I have called for help on how to reach Matt here on the Elixir Forum:

https://elixirforum.com/t/call-for-help-on-scrivener-html-maintenance-can-anyone-reach-matt-widmann/42526

[2021-09-21 21:10] kenny-evitt commented on #103
I'm willing to try to maintain a 'community' version in my own fork (that I just created a few minutes ago):

- [kenny-evitt/scrivener_html: HTML view helpers for Scrivener](https://github.com/kenny-evitt/scrivener_html)

[2021-09-21 21:15] kenny-evitt commented on #103
@thbar I want to review some of the pending 'community changes' and merge them into my own fork – I'm personally interested in resolving the dependency issues with the newest versions of Phoenix and related packages, but I'm willing to review some other changes if they're sensible and of plausible use to others (and not too much trouble to integrate).

[2021-12-17 04:23] goravbhootra commented on #103
Merged the commits approved by community in https://github.com/goravbhootra/scrivener_html

Happy to add more maintainers and maintain the repo till this one becomes active again

[2022-05-24 13:45] thbar commented on #99
The `master` branch has been updated a few days ago to add compatibility: https://github.com/mgwidmann/scrivener_html/pull/97